In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("D:\projects\machine learning\DataScience\Dataset\conn250K_anomaly_detection.csv",header=None)
df.shape

(256670, 4)

In [3]:
df.head()

   0  1    2     3
0  1  0  236  1228
1  2  0  239   486
2  3  0  234  1364
3  4  0  239  1295
4  5  0  181  5450

- record ID - The unique identifier for each connection record.
- duration_  This feature denotes the number of seconds (rounded) of the connection. For example, a connection for 0.17s or 0.3s would be indicated with a “0” in this field.
- src_bytes This field represents the number of data bytes transferred from the source to the destination (i.e., the amount of out-going bytes from the host).
- dst_bytes This feature represents the number of data bytes transferred from the destination to the source (i.e., the amount of bytes received by the host).

In [5]:
df2 = df[[1,2,3]]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df2 = sc.fit_transform(df2)

In [6]:
from sklearn.ensemble import IsolationForest
model = IsolationForest(n_estimators=120,contamination = 0.03,max_samples = 0.3)
model.fit(df2)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.03,
                max_features=1.0, max_samples=0.3, n_estimators=120,
                n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [11]:
df["Is_anomaly?_"] = model.predict(df2)
df["Is_anomaly?_"].value_counts()

 1    248970
-1      7700
Name: Is_anomaly?_, dtype: int64

In [9]:
df.head()

   0  1    2     3  Is_anomaly?_
0  1  0  236  1228             1
1  2  0  239   486             1
2  3  0  234  1364             1
3  4  0  239  1295             1
4  5  0  181  5450             1